header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 650;
}

.container .row #left {
    font-size: 60px;
}

p {
    margin-bottom: 0;
    font-size: 20px;
}

#right {
    position: absolute;

    /* padding: 50px 50px 50px 50px; */
}

.div p {
    font-size: 13px;
}

.card-title {
    margin-left: 10px;
}

.navbar-nav {
    font-weight: 600;
    color: black;
}

/* Popular-food */
#popular-food {
    margin-top: 50px;

    background-color: aliceblue;
}

.text {
    text-align: center;

}

.text p {
    margin-left: 30%;
    width: 40%;
}

.items {

    padding-left: 10%;
    padding-right: 10%;
}

#popular-food ul {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#popular-food ul li {
    list-style-type: none;
}

ul li #odd {
    width: 80px;
    height: 80px;

}

ul li #even {
    width: 40px;
    height: 40px;

}

/* Menu */
#menu .row img {
    border-radius: 50%;
    width: 100%;
}

#menu .row a {
    text-decoration: none;
    background-color: rgba(176, 253, 228, 0.596);
    border-radius: 10px;
    padding: 5px;
    color: green;
}

.menu-right-text {
    margin-top: 50px;
    font-size: 18px;
    width: 70%;
}

#btn_view-menu {
    margin-top: 50px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 3%;
}


/* Carousel */

#carouselExampleIndicators .row a {
    text-decoration: none;
    background-color: rgba(176, 253, 228, 0.596);
    border-radius: 10px;
    padding: 5px;
    color: green;
}

#carouselExampleIndicators .carousel-indicators button {
    background-color: rgb(0, 255, 98);
    color: black;
}

#carouselExampleIndicators span {
    background-color: black;
    color: black;
}

#items {
    margin: 40px;
}

/* download */
#download .download-img #apple {
    width: 40%;
    height: 40%;
    margin-right: 10px;
}

#download .row a {
    text-decoration: none;
    background-color: rgba(176, 253, 228, 0.596);
    border-radius: 10px;
    padding: 5px;
    color: green;
}

/* 
#download .row .img-left{
   width: 50%;
} */
#download .phone img {
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.footer12 {
    padding: 50px 0;
    color: #000000;
    background-color: #ffffff;
}

.footer12 h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer12 ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer12 ul a {
    color: black;
    text-decoration: none;

}

.footer12 ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer12 .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer12 .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer12 .item.text {
        margin-bottom: 0;
    }
}

.footer12 .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer12 .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer12 .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

#footer1 h3 {
    font-size: 25px;
}

#footer1 span {
    color: green;
}

#footer1 {
    padding-left: 10%;
    padding-right: 10%;
}

/* subscribe */
#subscribe .container {
    position: relative;
    text-align: center;
    color: white;
}

#subscribe .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#subscribe img{
    height: 400px;
    border-radius: 20px;
}